<!--HEADER-->
<div class="header">
    <div class="logo"><h1><a class="fancyfont" href="{{ site.baseurl }}/index.html">Easley Adopted</a></h1></div>
    <div class="cssmenu">
        <ul>
              <li><a href="{{ site.baseurl }}/index.html">HOME</a></li>
                <li><a href="/blog/">BLOG</a></li>
                <li><a target="_blank" href="https://www.justlovecoffee.com/Beneficiary/Profile/5087">BUY COFFEE</a></li>
                <li><a href="/help.html">DONATE</a></li>
                <li><a target="_blank" href="http://fb.me/EasleyAdoptedMe">FACEBOOK</a>

        </ul>
    </div>
    <div class="top-nav">
        <nav class="clearfix">
            <ul>
                <li><a href="{{ site.baseurl }}/index.html">HOME</a></li>
                <li><a href="/blog/">BLOG</a></li>
                <li><a target="_blank" href="/help.html">See ways to help and donate</a></li>
                <li><a target="_blank" href="http://fb.me/EasleyAdoptedMe">FACEBOOK</a>


            </ul>
        <a href="#" id="pull">Click to help</a> 
        </nav>
    </div>
</div>