---
layout: page
---

<div class="post-content">
    <div class="title"><h1>{{ page.title }}</h1></div>
    <p class="post-date">{{ page.date | date: "%b %-d, %Y" }}</p>
                    
     {{ content }}

     Please consider <a href="https://www.youcaring.com/EasleyAdoptedMe">donating</a>. <br/><br/>

     {% if post.imageURL != nil %}
     <img src="{{site.url}}{{page.imageURL }}" alt="{{ page.imageDescription }}"/>
     {% else %}
     <img src="{{site.url}}/assets/img/booties.jpg" alt="{{ page.imageDescription }}"/>
     {% endif %}
                    
    <ul class="pagination">
        {% if page.previous.url %}
        <li class="previous">
            <a href="{{ site.baseurl }}{{ page.previous.url }}">Previous</a>
        </li>
        {% endif %}
        {% if page.next.url %}
         <li class="next">
            <a href="{{ site.baseurl }}{{ page.next.url }}">Next</a>
        </li>
        {% endif %}
    </ul>
</div>

            

<div class="catalog-menu">
    <h3>&nbsp;&nbsp;</h3>
    <div class="catalog-menu-content"></div>
</div>





